body{
  background-color:palegreen;
  font-family: 'Piedra', cursive;
}
ul{
  padding:0px;
}

.navbar-brand{
  font-size: 60px;
  font-family: 'Piedra', cursive;
}
.nav-link{
  font-size: 30px;
}
@media (min-width: 768px){
.navbar-expand-sm .navbar-nav .nav-link {
  visibility:hidden;
}
}
.navbar-dark .navbar-brand {
  color: palegreen;
}
#top-heading{
  font-size:50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

section{
  border: 2px solid black;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom:20px;
  margin-left: 15px;
  margin-right:15px;
  background-color: lightblue;
}
p>a{
  color: black;
  text-decoration: underline;
}

section>p{
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 30px;
}
